/**************************
*
*	GENERAL
*
**************************/
.slider-block {}
.camera_wrap a, .camera_wrap img, 
.camera_wrap ol, .camera_wrap ul, .camera_wrap li,
.camera_wrap table, .camera_wrap tbody, .camera_wrap tfoot, .camera_wrap thead, .camera_wrap tr, .camera_wrap th, .camera_wrap td
.camera_thumbs_wrap a, .camera_thumbs_wrap img, 
.camera_thumbs_wrap ol, .camera_thumbs_wrap ul, .camera_thumbs_wrap li,
.camera_thumbs_wrap table, .camera_thumbs_wrap tbody, .camera_thumbs_wrap tfoot, .camera_thumbs_wrap thead, .camera_thumbs_wrap tr, .camera_thumbs_wrap th, .camera_thumbs_wrap td {
	background: none;
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style: none
}
.camera_wrap a.button {
    vertical-align: middle;
}
.fluid_container {
	padding-bottom: 27.24609375%;
	background: #0A7ACC;
	background-size: cover;
	min-height: 422px;
}
.camera_wrap {
	display: none;
	float: left;
	position: relative;
	z-index: 0;

	position: absolute;
	top: 0;
	bottom: 0;
}
.camera_wrap img {
	max-width: none;
}
.camera_fakehover {
	height: 100%;
	min-height: 60px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.camera_wrap {
	width: 100%;
}
.camera_src {
	display: none;
}
.cameraCont, .cameraContents {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 1;
}
.cameraSlide {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.cameraContent {
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
.camera_target {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: left;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_overlayer {
	bottom: 0;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 0;
}
.camera_target_content {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}
.camera_target_content .camera_link {
    background: url(../images/camera/blank.gif);
	display: block;
	height: 100%;
	text-decoration: none;
	position: relative;
	z-index: 99;
}
.camera_loader {
    background: #fff url(../images/camera/camera-loader.gif) no-repeat center;
	background: rgba(255, 255, 255, 0.9) url(../images/camera/camera-loader.gif) no-repeat center;
	border: 1px solid #ffffff;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
	height: 36px;
	left: 50%;
	overflow: hidden;
	position: absolute;
	margin: -18px 0 0 -18px;
	top: 50%;
	width: 36px;
	z-index: 3;
}
.camera_bar {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 3;
}
.camera_thumbs_wrap.camera_left .camera_bar, .camera_thumbs_wrap.camera_right .camera_bar {
	height: 100%;
	position: absolute;
	width: auto;
}
.camera_thumbs_wrap.camera_bottom .camera_bar, .camera_thumbs_wrap.camera_top .camera_bar {
	height: auto;
	position: absolute;
	width: 100%;
}
.camera_nav_cont {
	height: 65px;
	overflow: hidden;
	position: absolute;
	right: 9px;
	top: 15px;
	width: 120px;
	z-index: 4;
}
.camera_caption {
	position: absolute;
	width: 100%;
	height: 100%;
}
.camera_caption > div {}
.camerarelative {
	overflow: hidden;
	position: relative;
}
.imgFake {
	cursor: pointer;
}
.camera_prevThumbs {
	bottom: 4px;
	cursor: pointer;
	left: 0;
	position: absolute;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_prevThumbs div {
	background: url(../images/camera/camera_skins.png) no-repeat -160px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_nextThumbs {
	bottom: 4px;
	cursor: pointer;
	position: absolute;
	right: 0;
	top: 4px;
	visibility: hidden;
	width: 30px;
	z-index: 10;
}
.camera_nextThumbs div {
	background: url(../images/camera/camera_skins.png) no-repeat -190px 0;
	display: block;
	height: 40px;
	margin-top: -20px;
	position: absolute;
	top: 50%;
	width: 30px;
}
.camera_command_wrap .hideNav {
	display: none;
}
.camera_command_wrap {
	left: 0;
	position: relative;
	right:0;
	z-index: 4;
}
.camera_wrap .camera_pag .camera_pag_ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: right;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-align: left;
	text-indent: -9999px;
	width: 16px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li > span {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 8px;
	left: 4px;
	overflow: hidden;
	position: absolute;
	top: 4px;
	width: 8px;
}
.camera_commands_emboss .camera_pag .camera_pag_ul li:hover > span {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	-moz-box-shadow: 0;
	-webkit-box-shadow: 0;
	box-shadow: 0;
}
.camera_pag_ul li img {
	display: none;
	position: absolute;
}
.camera_pag_ul .thumb_arrow {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid;
	top: 0;
	left: 50%;
	margin-left: -4px;
	position: absolute;
}
.camera_prev, .camera_next, .camera_commands {
	cursor: pointer;
	margin-top: -22px;
	position: absolute;
	top: 50%;
	z-index: 2;
	opacity: 1 !important;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 43px;
	background: #0A7ACC;
	border-radius: 50%;
	-webkit-box-shadow: 2px 3px 7px rgba(0,0,0,.12);
	   -moz-box-shadow: 2px 3px 7px rgba(0,0,0,.12);
	        box-shadow: 2px 3px 7px rgba(0,0,0,.12);
	-webkit-transition: all 0.2s ease-in-out;
         -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}
.camera_prev {
	left: 40px;
}
.camera_prev > span {
	display: block;
}
.camera_prev > span:before {
	content: "\f104";
	font-family: "FontAwesome";
	font-size: 24px;
	color: #ffffff;
}
.camera_prev:hover {background: #DC2919;}
.camera_next {
	right: 40px;
}
.camera_next > span {
	display: block;
}
.camera_next:hover {background: #DC2919;}
.camera_next > span:before {
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 24px;
	color: #ffffff;
}
.camera_commands {
	right: 41px;
}
.camera_commands > .camera_play {
	background: url(../images/camera/camera_skins.png) no-repeat -80px 0;
	height: 40px;
	width: 40px;
}
.camera_commands > .camera_stop {
	background: url(../images/camera/camera_skins.png) no-repeat -120px 0;
	display: block;
	height: 40px;
	width: 40px;
}
.camera_wrap .camera_pag .camera_pag_ul li {
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	margin: 20px 5px;
	position: relative;
	text-indent: -9999px;
	width: 16px;
}
.camera_thumbs_cont {
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.camera_commands_emboss .camera_thumbs_cont {
	-moz-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	-webkit-box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
	box-shadow:
		0px 1px 0px rgba(255,255,255,1),
		inset 0px 1px 1px rgba(0,0,0,0.2);
}
.camera_thumbs_cont > div {
	float: left;
	width: 100%;
}
.camera_thumbs_cont ul {
	overflow: hidden;
	padding: 3px 4px 8px;
	position: relative;
	text-align: center;
}
.camera_thumbs_cont ul li {
	display: inline;
	padding: 0 4px;
}
.camera_thumbs_cont ul li > img {
	border: 1px solid;
	cursor: pointer;
	margin-top: 5px;
	vertical-align:bottom;
}
.camera_clear {
	display: block;
	clear: both;
}
.showIt {
	display: none;
}
.camera_clear {
	clear: both;
	display: block;
	height: 1px;
	margin: -1px 0 25px;
	position: relative;
}
/**************************
*
*	COLORS & SKINS
*
**************************/
.pattern_1 .camera_overlayer {
	background: url(../images/camera/patterns/overlay1.png) repeat;
}
.pattern_2 .camera_overlayer {
	background: url(../images/camera/patterns/overlay2.png) repeat;
}
.pattern_3 .camera_overlayer {
	background: url(../images/camera/patterns/overlay3.png) repeat;
}
.pattern_4 .camera_overlayer {
	background: url(../images/camera/patterns/overlay4.png) repeat;
}
.pattern_5 .camera_overlayer {
	background: url(../images/camera/patterns/overlay5.png) repeat;
}
.pattern_6 .camera_overlayer {
	background: url(../images/camera/patterns/overlay6.png) repeat;
}
.pattern_7 .camera_overlayer {
	background: url(../images/camera/patterns/overlay7.png) repeat;
}
.pattern_8 .camera_overlayer {
	background: url(../images/camera/patterns/overlay8.png) repeat;
}
.pattern_9 .camera_overlayer {
	background: url(../images/camera/patterns/overlay9.png) repeat;
}
.pattern_10 .camera_overlayer {
	background: url(../images/camera/patterns/overlay10.png) repeat;
}
.camera_caption {
	color: #fff;
}
.camera_caption > div {
	background: none
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover > span {
	background: #b7b7b7;
}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {
	background: #434648;
}
.camera_pag_ul li img {
	border: 4px solid #e6e6e6;
	-moz-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.5);
	box-shadow: 0px 3px 6px rgba(0,0,0,.5);
}
.camera_pag_ul .thumb_arrow {
    border-top-color: #e6e6e6;
}
.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {
}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: #b7b7b7;
}
.camera_thumbs_cont ul li > img {
	border-color: 1px solid #000;
}

.fluid_container_wrap {  position: relative; overflow: hidden;}
.camera_wrap {margin-bottom: 0 !important;}
.camera_wrap .camera_pag .camera_pag_ul {position: absolute; bottom: 60px; left: 53px; z-index: 10;}
.camera_wrap .camera_pag .camera_pag_ul li span {display: none;}
.camera_wrap .camera_pag .camera_pag_ul li {
	background: none; 
	color: #fff; 
	text-indent: 0; 
	border-radius: 0;
	margin: 0 7px;
	border-radius: 50%;
	background: none;
	width: 16px;
	height: 16px;
	border: 2px solid  #fff;
	-webkit-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.camera_wrap .camera_pag .camera_pag_ul li:hover {opacity: 1; border-color: #fff; border-width: 3px;}
.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent  {opacity: 1; background: #fff;; border-color: #fff}
.camera_wrap .camera_pag .camera_pag_ul li:before {}
.camera_wrap .text-slider-block {
	float: right;
	margin: auto 0px;
	width: 64.5%;
	text-align: center;
	position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.text-slider-block h3 {
	font-size: 5.8vw;
	font-weight: 300;
	color: #fff;
	text-shadow: none;
	font-family: Roboto;
	text-transform: uppercase;
}
.text-slider-block h3,
.text-slider-block p.sub-title {
	font-family: Roboto;
	text-transform: uppercase;
	color: #fff;
	text-shadow: none;
}

.text-slider-block h3 {
	font-size: 5.8vw;
	line-height: 0.955;
	line-height: 
}
.text-slider-block p.sub-title {
	font-size: 2.75vw;
}
.text-slider-block .slider-button{
	/-webkit-box-shadow: 2px 3px 7px rgba(0,0,0,.12);
	-moz-box-shadow: 2px 3px 7px rgba(0,0,0,.12);
	box-shadow: 2px 3px 7px rgba(0,0,0,.12);
	padding: 0 12px;
    line-height: 38px;
    letter-spacing: 4px;
    font-size: 11px;
	color: #fff;
	background: #DC2919;
	border-radius: 3px;
	display: inline-block;
	margin-top: 20px;
}
.slide-1 .text-slider-block .slider-button {
	color: #fff;
}
.slide-2 .text-slider-block .slider-button {
	color: #0A7ACC;
	background: #fff;
}
.slide-2 .text-slider-block .slider-button:hover {
	color: #fff;
	background: #00a0da;
}
.text-slider-block .slider-button:hover {
	color: #DC2919;
	background: #fff;
}

@media only screen and (max-width: 1599px) {}
@media only screen and (max-width: 1399px) {}
@media only screen and (max-width: 1199px) {
	.text-slider-block .slider-button{
		padding: 0 18px;
		line-height: 48px;
		font-size: 18px;
	}
}
@media only screen and (max-width: 991px) {}
@media only screen and (max-width: 767px) {
	.camera_prev {
		left: 10px;
	}
	.camera_next {
		right: 10px;
	}
} 
@media only screen and (max-width: 599px) {
	.camera_wrap .text-slider-block {
		width: 100%;
		right: 0 !important;
	}
	.text-slider-block h3 {
		font-size: 45px;
	}
	.text-slider-block p.sub-title {
		font-size: 20px;
	}
}
@media only screen and (max-width: 550px) {}