#search_autocomplete {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
}
#search_autocomplete.show {
    display: block;
}

#search_autocomplete .livesearch-results {
    border: 0;
    box-shadow: 0 0 21px rgba(0, 0, 0, 0.11);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
}

#search_autocomplete .livesearch-results li {
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
#search_autocomplete .livesearch-results li:last-child {
    margin-bottom: 0;
    border: 0;
}
#search_autocomplete .livesearch-results .item-count {
    background: #fafafa;
    padding-top: 8px;
    padding-bottom: 8px;
}
#search_autocomplete .livesearch-results .item-count a {
    color: #e81d62;
    display: block;
}
#search_mini_form .input-box {
    position: relative;
}

#search_mini_form .input-box.processing:before {
    position: absolute;
    left:6px;
    top: 12px;
    content: '';
    background: url(../../../images/tm/livesearch/clock.gif) 50% 50% no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: block;
}

.livesearch-results .item-img {
    text-align: center;
}
.livesearch-results .item-img img {
    display: inline-block;
}
.livesearch-results .item-info {
    overflow: hidden;
}

.livesearch-results .item-name {
    display: block;
    margin-bottom: 0.5em;
    font-size: 14px;
    text-align: center;
}
.livesearch-results .item-name a {
        color: #00bbd3;
}
.livesearch-results .item-name a:hover {
        color: #3e50b4;
}

.livesearch-results .item-description {
    display: none;
}
.livesearch-results .price-box {
    margin: 0;
    line-height: 21px;
    text-align: center;
}
.livesearch-results  .price-box .price {
    font-size: 18px;
    color: #e81d62;
    font-weight: 400;
}

/*# sourceMappingURL=livesearch.css.map */
